button.buttons {
    width: 150px;
    height: 30px;
    text-decoration: none;
    color: #84b375;
    text-align: center;
    line-height: 20px;
    font: normal 17px arial;
  }
  input {
	width: 300px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}

ul {
    padding-left: 2rem;
    list-style-type: decimal;
    font-family: 'Orienta', sans-serif;
    letter-spacing: 1px;
  }

h3 {
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-weight: normal;
    font-family: 'Orienta', sans-serif;  
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
}
label {
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-size: 22px;
    line-height: 40px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Orienta', sans-serif;
    letter-spacing: 1px;
}